*
{
    margin: 0px;
    padding: 0px;
}
.box1
{
    width: 500px;
    height:300px;
    background-color: blue;
    color: rgb(2, 8, 8);
    border: 10px solid black;
    margin: 20px;
    padding: 20px;
    box-shadow: 20px 20px 20px greenyellow;
    border-radius: 20px 0px 20px 0px;
}
.box2
{
    width: 500px;
    height:300px;
    background-color: rgb(175, 175, 200);
    color: rgb(218, 142, 28);
    border: 10px solid rgb(175, 73, 73);
    margin: 20px;
    padding: 20px;
    box-shadow: 20px 20px 20px red;
    border-radius: 20px 0px 20px 0px;  
}
.circle
{
    width: 200px;
    height: 200px;
    background-color: aqua;
    color: blueviolet;
    border: 5px solid gray;
    margin: 2px;
    padding: 2px;
    box-shadow: 15px 0px 15px 0px;
    border-radius: 50%;
}
.back
{
    background-image: url(https://www.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}